.faq-btn {
  @apply text-left text-sm sm:text-base flex items-start justify-between gap-4 text-text-light font-semibold px-4 sm:px-8 py-4 w-full border border-accent/5 rounded-2xl bg-gradient-to-br from-gradient-dark-stops-0 to-gradient-dark-stops-1;
}

.faq-details {
  @apply text-sm leading-relaxed px-4 sm:px-8;
}

.faq-details.active {
  animation: slide-down 0.2s ease-in-out forwards;
  opacity: 0;
}

@keyframes slide-down {
  1% {
    display: block;
    opacity: 0;
    transform: translateY(-2rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
