@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 8px;
  height: 0px;
}

::-webkit-scrollbar-track {
  @apply bg-bg-dark;
}

::-webkit-scrollbar-thumb {
  @apply bg-accent/50 hover:bg-accent rounded-full;
}

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
  @apply bg-accent;
} */

body {
  font-family: var(--font-inter);
  @apply bg-bg-dark text-text-mid overflow-x-hidden;
}

.red-hat-font {
  font-family: var(--font-red-hat-display);
}

h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-red-hat-display);
  @apply text-text-light tracking-tighter leading-none;
}

/* h1 {
  @apply text-5xl md:text-6xl lg:text-7xl;
} */

h2 {
  @apply text-2xl md:text-3xl lg:text-4xl;
}

.btn-accent {
  font-family: var(--font-red-hat-display);
  @apply bg-gradient-to-b from-gradient-light-stops-0 to-gradient-light-stops-1 rounded-full text-text-dark font-semibold hover:opacity-80 transition-opacity;
}

section {
  @apply py-20 md:py-24 lg:py-32;
}

section h2 {
  @apply mb-12 md:mb-14 lg:mb-16 text-center;
}

.gradient-text {
  background-image: linear-gradient(to bottom, #c8afe91a, #c8afe900);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-text-bright {
  background-image: linear-gradient(to bottom, #c8afe9, #652fad);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.dark-bg-gradient {
  @apply border border-accent/5 bg-gradient-to-br from-gradient-dark-stops-0 to-gradient-dark-stops-1;
}

.external-link {
  @apply text-accent flex items-center gap-2 w-fit hover:gap-4 transition-all;
}
/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
